body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.action-bar {
    background: #ececec;
}

.fab {
    position: fixed;
    bottom: 5%;
    right: 2.5%;
    background: dodgerblue;
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 64px;
    box-shadow: 2px 2px 4px #4d4d4d;
    cursor: pointer;
}

.fab:hover {
    box-shadow: 1px 1px 3px #4d4d4d;
}

.fab:active {
    box-shadow: none;
}

.fab span {
    line-height: 50px;
}

.whitish {
    color: #ffffff;
}

.fab-font {
    font-size: 24px;
}

.file-item {
    padding: 8px;
    border-bottom: solid 1px #ccc;
    cursor: pointer;
}

.file-item:hover {
    text-decoration: underline;
}

.hint-list {
    /*visibility: hidden;*/
    margin-top: 20px;
    position: absolute;
    background: rgb(234, 255, 209);
    z-index: 100000;
    top: 10px;
    left: 10px;
    border: solid 1px #a3a3a3;

    max-height: 40vh;
    overflow-x: auto;
    overflow-y: scroll;

    box-shadow: 0 2px 4px #ccc;
}

.hint {
    font-family: "Courier New";
    font-size: 12px;
    cursor: pointer;
    color: #4d4d4d;
    padding-top: 2px;
    padding-bottom: 2px;
}

.hint b {
    color: rgba(232, 0, 255, 0.47);
    font-weight: bold;
}

.hint-selected {
    background: dodgerblue;
    color: #ffffff;
    font-weight: bold;
}

.hint:hover {
    background: #166dc2;
    color: #ffffff !important;
    font-weight: bold;
}

.hint-status {
    font-size: 9px;
    background: #eeeeee;
}

.upload-dialog {
    position: fixed;
    top: 10%;
    left: 25%;
    overflow: auto;
    z-index: 10000;
    background: #ffffff;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
    border: solid 1px #4d4d4d;
}

.upload-dialog .title {
    background: #166dc2;
    color: #e8e8e8;
    font-weight: bold;
    padding: 8px;
}